@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {
    <h1>Student form</h1>
    @form(CSRF(routes.Students.save())) {
		<input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
		<fieldset>
            <legend>Student (@studentForm("name").valueOr("New"))</legend>
			@helper.inputText(studentForm("msv"), '_label -> "MSV")
			@helper.inputText(studentForm("birthday"), '_label -> "Birthday")
            @helper.inputText(studentForm("name"), '_label -> "Name")
            @helper.inputText(studentForm("phoneNumber"), '_label -> "PhoneNumber")
            @helper.inputText(studentForm("address"), '_label -> "Address")
            @helper.inputText(studentForm("sectors"), '_label -> "Sectors")
            @helper.inputText(studentForm("courses"), '_label -> "Courses")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Students.list()">Cancel</a>
    }
}
