@(students: List[Student])
@main("Students list") {<h2>List students</h2>
    <script>
    function del(urlToDelete) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }
    </script>
    <table class="table table-striped">
        <thead>
            <tr>
			    <th>MSV</th>
				<th>Birthday</th>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th>Sectors</th>
                <th>Courses</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        @for(student <-students){
                <tr>
					<td><a href="@routes.Students.information(student)"> @student.msv</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.birthday</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.name</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.phoneNumber</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.address</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.sectors</a></td>
                    <td><a href="@routes.Students.information(student)"> @student.courses</a></td>
                    <td><a onclick="del('@routes.Students.delete(student.msv)')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a></td>
                </tr>
        }
        </tbody>
    </table>
    <a href="@routes.Students.newAccount()" class="btn btn-primary">New student</a>
}